<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
글작성 페이지 입니다.<br>
<form action="/board/regBoard" method="post">
	제목 : <input type="text" name="title"><br>
	내용 : <input type="text" name="content"><br>
	나이 : <input type="text" name="age"><br>
	<input type="submit" value="등록">
</form>
<br>
<form action="/board/regBoard2" method="post">
	제목 : <input type="text" name="title"><br>
	내용 : <input type="text" name="content"><br>
	나이 : <input type="text" name="age"><br>
	<input type="submit" value="등록">
</form>
</body>
</html>